.TextInput {
    font-size: large;
    border: 1px solid #9c3baf;
    padding: 5px;
    border-radius: 3px;
    display: block;
    margin: 5px auto;
}
.TextInput:focus {
    outline: none;
    border-color: #719ECE;
    box-shadow: 0 0 10px rgb(50, 100, 153);
}
.Radio {
    font-size: small;
}
.Button {
    display: block;
    margin: 10px auto;
    padding: .5rem;
    font-size: 1em;
    background: #fbf861;
    border-radius: 5px;
    color: 9c3baf;
    cursor: pointer;
    margin: 5px auto;
}